<h1>This is a new task creation page</h1>
<div>
	<h2>Create a new task using the below form</h2>
		<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<%= form_with scope: :task , url: tasks_path, local: true do |form| %>
		  <p>
		    <%= form.label :title %><br>
		    <%= form.text_field :title %>
		  </p>
		 
		  <p>
		    <%= form.label :text %><br>
		    <%= form.text_area :text %>
		  </p>
		 
		  <p>
		    <%= form.submit %>
		  </p>
	<% end %>
</div>

<h3 >
<button class="btn btn-warning" ><%= link_to 'Go Back', controller:"tasks" %></button>

</h3>