<div>
	<h2>Create a new task using the below form</h2>
	<%= form_with scope: :task , url: tasks_path, local: true do |form| %>
		  <p>
		    <%= form.label :title %><br>
		    <%= form.text_field :title %>
		  </p>
		 
		  <p>
		    <%= form.label :text %><br>
		    <%= form.text_area :text %>
		  </p>
		 
		  <p>
		    <%= form.submit %>
		  </p>
	<% end %>
</div