	<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>


<h3 >
<button class="btn btn-warning"><%= link_to 'Edit', edit_task_path(@task) %></button>
<br><br>
<button class="btn btn-warning" ><%= link_to 'Go Back', controller:"tasks" %></button>

</h3>

<h3 >
<button class="btn btn-success"><%= link_to 'Create New Task', new_task_path %></button>

</h3>